.search-input {
    font-size: 20px;
    font-weight: 300;
    line-height: 62px;
    box-sizing: border-box;
    width: 100%;
    height: 62px;
    padding-right: 20px;
    padding-left: 20px;
    color: #555;
    border: none;
    border-radius: 40px;
    outline: 0;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .06);
}

.search-tab-item {
    height: 80px;
}

/*    body{
        background-image: url("https://wallpaper.infinitynewtab.com/wallpaper/2710.jpg");
        background-size: 100vw 100vh;
        background-repeat:no-repeat;
    }*/
body{
    background: #f2f2f2;
}
.bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    background-position: center;
    background-size: cover;
}

.BGBLUR {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.layui-container {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

.big-stone {
    /*background: #f2f2f2;*/
    padding: 10px;
    /*height: 180px;*/
    overflow-x: hidden;
    overflow-y: auto;
}

.normal-tools {
    /*background: #f2f2f2;*/
    padding: 10px;
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}

.layui-card {
    margin-bottom: 5px;
}

.layui-card-header {
    color: #009688;
}

.week-plan {
    padding: 10px;
    position: relative;
    /*color: #009688;*/
}

.week-table {
    margin: 0;
    /*position: absolute;*/
    /*left: 80px*/

}

.week-time {
    position: absolute;
    bottom: -8px;
    z-index: 999;
}

.no-border-top {
    border-top: none;
}

.td-i {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.add-edit {
    width: 0;
    height: 100%;
    background: #5FB878;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    /*display: hidden;*/
}

.layui-icon {
    font-size: 18px;
}

/*    .tools-box:nth-child(odd) {
        border-right: solid 1px;
    }*/

.tools-title {
    text-align: center;
}

.is-big-stone {
    background: #5FB878;
    color: #fff;
}

.layui-row {
    background: #fff;
    border-radius: 10px;

}

.radio-normal {
    display: inline-block;
    margin-left: 10px;
}

.layui-input-block {
    line-height: 36px;
}

.time-q-t{
    /*width: 30px;*/
    height: 30px;
    
    
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    /*border-radius: 50%;*/
}
.time-q-t span{

    font-size: small;
}
.time-q-1 {
    color: #009688;
    bottom: 10px;
    right: 10px;
}

.time-q-2 {
    background: #009688;
    color: #fff;
    bottom: 10px;
    left: 10px;
}

.time-q-3 {
    color: #009688;
    top: 10px;
    right: 10px;
}

.time-q-4 {
    color: #009688;
    top: 10px;
    left: 10px;
}
.time_q_badge{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.time-q-2-d{
    width: 100%;
    height: 105%;
    background: #009688;
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #fff;
    padding: 10px 0px 0 10px;
}

.time-q-1-d{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 10px 0 0 10px;
}
.time-q-3-d{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 40px 0 0 10px;
}
.time-q-4-d{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 40px 0 0 10px;
}
*::-webkit-scrollbar {
    display: none;
}
.plan-edit-btn{
    display: inline-block;
    float: right;
    font-size:20px;
    color: #2F4056;
    cursor:pointer;
}
.layui-tab{
    background: #fff;
}